[user]
	name = luxmeter
	email = superhans@ludete.de
[core]
	excludesfile = /home/mustafa/.gitignore_global
	fileMode = off
	filemode = false
	editor = vim
	fileMode = off
[push]
	default = simple
[color]
	ui = true
[alias]
	l = log --pretty=format:'%C(yellow)%h%C(red)%d%Creset %ad %C(green)%an%Creset: %s' --date=local
[credential]
	helper = cache --timeout=3600
