snippet printv "print variable" b
print(\`$1=\$\{$1\}\`)$0
endsnippet

snippet clogv "print variable" b
console.log(\`$1=\$\{$1\}\`)$0
endsnippet

snippet logv "print variable" b
log.debug(\`$1=\$\{$1\}\`)$0
endsnippet
